.app-aside:before {
  min-height: 1000px;
  position: fixed;
  height: auto;
}

button {
    display: inline-block;
    height: 37px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 100px;
}

#close-image img {
    display: block;
    height: 130px;  
    width: 100px;
}

#close-CSS {
    background-image: url( 'http://thinkingstiff.com/images/matt.jpg' );
    background-size: 100px 130px;
    height: 134px;  
    width: 104px;
}

.btn-rounded {
  padding-right: 26px;
  padding-left: 26px;
}

.users{
  margin-bottom: 0px !important;
}

.sidebar .active{background-color:#32374a;color:#fff !important;}

/*===============================================
  B. Class Helpers
================================================= */
.padding-none { padding: 0 !important }
.padding { padding: 10px !important }
.padding-sm { padding: 5px !important }
.padding-lg { padding: 22px !important }
.padding-top-none { padding-top: 0 !important }
.padding-top { padding-top: 14px !important }
.padding-top-sm { padding-top: 5px !important }
.padding-top-lg { padding-top: 22px !important }
.padding-right-none { padding-right: 0 !important }
.padding-right { padding-right: 14px !important }
.padding-right-sm { padding-right: 5px !important }
.padding-right-lg { padding-right: 22px !important }
.padding-bottom-none { padding-bottom: 0 !important }
.padding-bottom { padding-bottom: 14px !important }
.padding-bottom-sm { padding-bottom: 5px !important }
.padding-bottom-lg { padding-bottom: 22px !important }
.padding-left-none { padding-left: 0 !important }
.padding-left { padding-left: 14px !important }
.padding-left-sm { padding-left: 5px !important }
.padding-left-lg { padding-left: 22px !important }
.margin-none { margin: 0 !important }
.margin { margin: 14px !important }
.margin-sm { margin: 5px !important }
.margin-lg { margin: 22px !important }
.margin-top-none { margin-top: 0 !important }
.margin-top { margin-top: 14px !important }
.margin-top-lg { margin-top: 22px !important }
.margin-top-sm { margin-top: 5px !important }
.margin-right-none { margin-right: 0 !important }
.margin-right { margin-right: 14px !important }
.margin-right-lg { margin-right: 22px !important }
.margin-right-sm { margin-right: 5px !important }
.margin-bottom-none { margin-bottom: 0 !important }
.margin-bottom { margin-bottom: 14px !important }
.margin-bottom-lg { margin-bottom: 22px !important }
.margin-bottom-sm { margin-bottom: 5px !important }
.margin-left-none { margin-left: 0 !important }
.margin-left { margin-left: 14px !important }
.margin-left-lg { margin-left: 22px !important }
.margin-left-sm { margin-left: 5px !important }
.border-left-none { border-left: none !important }
.border-right-none { border-right: none !important }
.border-bottom-none { border-bottom: none !important }
.border-top-none { border-top: none !important }
.border-none { border: none !important }
.marginleft40{margin-left:40px;}
.margintop20{margin-top:20px !important;}


.whitebg{background-color:#fff!important;}
.padding5{padding:5px!important;}
.padding10{padding:10px!important;}
.padding15{padding:15px!important;}
.padding17{padding:17px 20px !important;}
.padding20{padding:20px !important;}
.margin-none{margin:0px!important;}
.margin5{margin:5px!important;}
.margin10{margin:10px!important;}
.margin15{margin:15px!important;}
.grayBorder{border: 1px solid #e7ecf1!important;}
.lightgrayBorderBottom{border-bottom: 1px solid #eef1f5!important;}
.darkgrayBorderBottom{border-bottom: 1px solid #c2cad8!important;}
.sitegreencolor{background-color:#32c5d2!important;}
.textcolorWhite{color:#fff!important;}
.lightgrayBorderTop{border-top: 1px solid #eef1f5!important;}
.darkgrayBorderTop{border-top: 1px solid #c2cad8!important;}
.pos-rel{position:relative;}
.border-radius-3{border-radius:3px;}
.display-none{display:none;}


/* overwrite CSS of adminLTE theme */
.skin-blue .main-header .logo{background-color:#ff3366 !important;}
.skin-blue .main-header .navbar{background-color:#fe84a0 !important;}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{background-color:#333945 !important;}
.skin-blue .sidebar-menu > li.header{background-color:#ff3366 !important;color:#fff;font-weight:700;}
.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a{background:#1e282c none repeat scroll 0 0;border-left-color:#fe84a0;}
.skin-blue .main-header .navbar .sidebar-toggle:hover{background-color:#ff3366 !important;}
a{color:#ff3366;}
.editpage label {font-weight:normal;}
.nav-tabs-custom > .nav-tabs > li.active{border-top-color:#ff3366;}
.login-box-body, .register-box-body{border-top:5px solid #ff3366;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header{height:154px;}
.skin-blue .main-header li.user-header{background-color:#fff;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p{color:#ff3366;}
.main-header{position:fixed;width:100%;}
.main-sidebar, .left-side{position:fixed;}
.content-wrapper{margin-top:50px;}
.input-sm{padding:5px 0px;color:#9e9e9e;}
label{font-weight:normal;}
.user-panel > .image > img{height:45px !important;}
.profile-user-img{height:100px;}

/*
 *  Custom CSS
 */
.aboutme_container{background:#d9edf7;color:#2b6085;border-radius:5px;margin-bottom:15px;margin-top:15px;padding:10px;}
.CanacelBtn{background-color:#c2cad8;color:#fff;border:0px;height:30px;}
.updateBtn{background-color:#ff3366;color:#fff;border:0px;height:30px;}
.hiddendiv{display:none;}
.has-feedback .form-control{padding-right:0px;}
.colorRed{color:#FF3300;}
.margintop2rem{margin-top:2rem;}
.btn-loginpink{background-color:#fe84a0;border-color:#ff3366;color:#fff;}
.btn-loginpink.focus, .btn-loginpink:focus, .btn-loginpink:hover{color:#fff;}
.rating_organediv{background-color:#ffa300;color:#fff;border-radius:25px;font-weight:bold;}
.latestmember_userimg{border-radius:50%;height:80px;}
.need_service_wrapper{border:1px solid #FE84A0;    border-radius: 15px;    color: #9e9e9e;    padding: 3px 15px;}
.offer_service_wrapper{border:1px solid #333945;    border-radius: 15px;    color: #9e9e9e;    padding: 3px 15px;}
.interest_wrapper{background: #D9EDF7 none repeat scroll 0 0;    border-radius: 15px;    color: #2b6085;    padding: 3px 15px;}
.postive_rating{border:1px solid #008D4C;    border-radius: 50%;    color: #9e9e9e;    padding: 3px 9px; margin:0 10px;}
.neutral_rating{border:1px solid #E08E0B;    border-radius: 50%;    color: #9e9e9e;    padding: 3px 9px; margin:0 10px;}
.color-9e9e9e{color:#9e9e9e !important;}
.verified{background-color: #008D4C;    border-radius: 50%;    color: #fff;    padding: 5px;}
.wrapwithdot {    overflow: hidden;    text-overflow: ellipsis;    white-space: nowrap;    width: 100%;}
.save_btn{border:1px solid green;border-radius:2px;color:green;margin-top:25px;}
.delete_btn{border:1px solid red;border-radius:2px;color:red;margin-top:25px;margin-left:5px;}
.notification-alert{position:fixed;right:15px;top:70px;z-index:99;}
#invoice_popup .modal-dialog {margin: 50px auto;width:80%;}

.error.m-error {border-color: #D9534F;border-top-color: rgb(217, 83, 79);border-right-color: rgb(217, 83, 79);border-bottom-color: rgb(217, 83, 79);border-left-color: rgb(217, 83, 79);}
small.error.m-error {color: #D9534F;}